[Unit]
Description=RTKLOG Service
Atter = rtkrcv.service ntp.service
[Service]
WorkingDirectory = /home/pi/gpsnavi/
ExecStart =/home/pi/gpsnavi/gpsfile.py
#TimeoutStopSec =10s
Restart=always
RestartSec = 10s
Type=simple

[Install]
WantedBy=multi-user.target
