[Unit]
Description=RTKRCV Service
Requires = network.target
[Service]
WorkingDirectory = /home/pi/RTKLIB/app/rtkrcv/gcc/
ExecStart =/home/pi/gpsnavi/rtkrcv.sh
#TimeoutStopSec =10s
Restart=always
RestartSec = 10s
Type=simple

[Install]
WantedBy=multi-user.target
