[Unit]
Description=Shutdown Daemon

[Service]
ExecStart =/home/pi/gpsnavi/shutdownd.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

